*{
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: 'Lato', sans-serif;
  color:#052e40;

}

main {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column{
  display:flex;
  flex-direction: column;
}

.box {
  background-color: #5DBCD2;
  width:200px;
  height:200px;
}

.nought{
  background-image: url('images/o2.gif')
}

.cross{
  background-image: url('images/x2.gif')
}



.winnerbox{
  border:1px solid black;
  clear: both;
  width:50%;
  margin: 0 auto;
  visibility: hidden
}

.winnerBoxShow{
  visibility: visible;
}


.playerInput {
  margin:5px;
}

.playerInput > input {
  margin:5px;
}

.hidePlayerInput {
  display:none;
}

.turnsBox{
  visibility: hidden
}

.turnsBoxShow{
  visibility: visible;
}

.player1Score{
  background-color: grey;
  width:10%;
  margin:30px;
}

.player2Score{
  background-color: grey;
  width:10%;
  margin:30px;
}

input[type=submit]{
    font-family: 'Lato', sans-serif;
}

.scoreBox1{
  width:50%;
  border: 2px solid darkgrey;
}

.scoreBox2{
  width:50%;
  border: 2px solid darkgrey;
}
